<!DOCTYPE html>
<html>
    <head>
        <%- include ('../components/head.ejs') %>
    </head>
    <body>
        <header>
            <%- include ('../components/header.ejs') %>
        </header>
        <div class="posts">
            <%- include ('./common/top.ejs') %>
            <div class="index">
                <a href="/posts/new"><button>New</button></a>
                <ul>
                    <% data.forEach(function(e){ %>
                        <li>
                            <a href="/posts/<%= e._id %>"><%= e.title %></a>
                            <span> <%= e.createdAt.toLocaleDateString() %></span>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <footer>
            <%- include ('../components/footer.ejs') %>
        </footer>
    </body>
</html>