<%- contentFor('post') %>
<%- include ('./common/top.ejs') %>
<a href="/posts" class="btn_back"><button>Back</button></a>
<div class="posts_show">
    <div class="posts__thumb_box">
        <img class="posts__thumb" src="/public/img/img_sample.png" />
    </div>
    <h3 class="posts_show__title"> <%= data.title %></h3>
    <% if (data.createdAt && !data.updatedAt) { %>
    <div class="posts_show__info-time">Created At <br />
        <%= data.createdAt.toLocaleDateString() %> <br />
        <%= data.createdAt.toLocaleTimeString() %> 
    </div>
    <% } %>
    <% if (data.updatedAt) { %>
        <div class="posts_show__info-time">Updated at <br />
            <%= data.updatedAt.toLocaleDateString() %> <br />
            <%= data.updatedAt.toLocaleTimeString() %> 
        </div>
    <% } %>
    <p class="posts_show__content"> <%= data.body %></p>
</div>
<div class="posts__tool">
    <a class="posts_tool__btn-edit" href="/posts/<%= data._id %>/edit"><button>EDIT</button></a>
    <form class="posts_tool__btn-dlt" action="/posts/<%=data._id%>?_method=delete" method="post">
        <button type="submit">Delete</button>
    </form>
</div>
<%- include ('./common/btm.ejs') %>
  