<!DOCTYPE html>
<html>
    <head>
        <%- include ('../components/head.ejs') %>
    </head>
    <body>
        <header>
            <%- include ('../components/header.ejs') %>
        </header>
        <div class="posts">
            <%- include ('./common/top.ejs') %>
            <div class="show">
                <h3> <%= data.title %></h3>
                <div class="time">Created At <br />
                    <%= data.createdAt.toLocaleDateString() %> <br />
                    <%= data.createdAt.toLocaleTimeString() %> 
                </div>
                <% if (data.updatedAt) { %>
                    <div class="time">Updated at <br />
                        <%= data.updatedAt.toLocaleDateString() %> <br />
                        <%= data.updatedAt.toLocaleTimeString() %> 
                    </div>
                <% } %>

                <h3></h3>
                <h3> </h3>
                <h3> </h3>
                <h3> <%= %></h3>
                <h3> <%= %></h3>

            </div>
        </div>
        <footer>
            <%- include ('../components/footer.ejs') %>
        </footer>
    </body>
</html>